{% extends 'base.html' %}
{% block content %}
<div class="m-5">  <!-- If container not more w-full working -->
    <p class="text-slate-900 dark:text-white my-5 text-3xl">{{ quiz_name }}</p>
    <form method="post">
        <div class="grid auto-cols-max auto-rows-fr grid-cols-1 md:grid-cols-2 gap-4">
            {% for i, question in enumerate(questions) %}
            <div class="">
                <div class="flex h-full bg-white border border-gray-200 rounded-lg md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="flex-auto p-3">
                        <p class="card-title text-slate-900 dark:text-white text-xl">{{ question.question | safe }}</p>
                        <div class="form-group flex flex-col justify-between p-1 leading-normal align-top">
                            {% for quiz_id in question.options %}
                            <div class="inline-flex items-center">
                                <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" type="radio" name="question-{{ i }}"
                                    id="question-{{ i }}-{{ quiz_id }}" value="{{ quiz_id }}" required>
                                <label class="ms-2 font-medium form-radio text-slate-900 dark:text-white" for="question-{{ i }}-{{ quiz_id }}">
                                    {{ quiz_id }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="align-left">
                    {% if question.image |length > 10 %}
                        <img src="{{ question.image | safe }}" class="rounded-r-lg hover:scale-105" alt="{{ question.image | safe }}"
                            height="250" width="300">
                    {% else %}
                        <div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg px-5 py-2.5 inline-flex justify-center text-center mt-5">Submit</button>
    </form>
</div>
{% endblock %}